@model drunkShop.Models.ApplicationType
<link rel="stylesheet" href="~/css/editingDB.css" asp-append-version="true" />


<div class="cont1">
    <form method="post" asp-action="DeletePost">

        <input asp-for="Id" hidden />

            <h2>Удаление типа</h2>

        <div class="In">
            <label asp-for="Naming">Название</label>
            <input asp-for="Naming" disabled class="form-control" />
            <span asp-validation-for="Naming" class="text-danger"></span>
        </div>

        <div class="buttons">
            <button type="submit" class="create-btn">Создать</button>
            <a asp-action="Index" class="back-btn">Вернуться</a>
        </div>
    </form>
</div>

@section Scripts{

    @{ <partial name="_ValidationScriptsPartial" /> }

}
