@page
@model ForgotPasswordModel
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="account">
    <div class="account-box">
        <h2>Изменение пароля</h2> 
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <span>Введите почту от вашего аккаунта</span>
                <input asp-for="Input.Email" class="inputLogin form-control" autocomplete="username" aria-required="true" placeholder="name@gmail.com" />
            </div>
            <button type="submit" class="btnLogin">Сбросить пароль</button>
        </form>
    </div>
</div>

@*<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
