.wrapperprof {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 27%, rgba(0,0,0,0.1615) 61%, rgba(0,0,0,0.912) 95%, rgba(0,0,0,1) 100%), url('/img/bgcateg.JPG') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    padding-bottom: 250px;
}


.profile {
    margin-top: 80px;
    display: flex;
    max-width: 1000px;
    font-size: 1.1rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #fff;
    display: flex;
}

.leftinf {
    height: 500px;
    max-width: 40%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 2em;
}


.profile h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: 130px;
    text-align: center;
}


.verf {
    font-size: 0.8rem;
    margin-top: 15px;
    margin-bottom: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

span {
    display: flex;
    gap: 5px;
}

.ava {
    width: 50%;
    margin-left: 80px;
}


.btnProf {
    font-weight: 600;
    margin-top: 2rem;
    width: 100%;
    padding: 0.8em;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #fff;
    font-size: 1.2rem;
    transition: all 200ms ease;
}

.inp {
    margin-top: 50px;
    margin-left: 55px;
    width: 400px;
}

.inputprof {
    margin-top: 5px;
    padding: 0.5em;
    font-size: 1rem;
    width: 120%;
    height: 50px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #fff;
}

.btnProf:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.359);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.126), rgba(255, 255, 255, 0));
}

.btnProf:active {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.359);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.126), rgba(255, 255, 255, 0));
    transform: scale(0.9);
}

.save {
    font-weight: 600;
    width: 120%;
    margin-top: 2rem;
    padding: 0.8em;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #fff;
    font-size: 1.2rem;
    transition: all 200ms ease;
}

.save:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.359);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.126), rgba(255, 255, 255, 0));
}

.save:active {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.359);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.126), rgba(255, 255, 255, 0));
    transform: scale(0.9);
}

input:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.554);
}


label {
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
}

.hero {
    padding-bottom: 0px;
}


.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .wrapperprof {
        padding: 0;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .profile {
        width: 100%;
        margin-top: 100px;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-bottom: 150px;
    }

    .leftinf, .profinf {
        margin-top: 0px;
        width: 100%;
        padding: 1.5rem;
        font-size: 1rem;
    }

    .leftinf {
        min-width: 100%;
    }

    .ava {
        width: 10rem;
        margin-left: 32%;
        margin-bottom: 10px;
    }

    .profile h2 {
        font-size: 1.3rem;
        margin-left: 1%;
    }

    .btnProf {
        font-size: 1rem;
        height: 60px;
        min-width: 100%;
        margin-top: 1rem;
    }

    .save {
        margin-top: 40px;
        min-width: 138%;
    }

    .inp {
        margin-left: 0;
        width: 73%;
    }

    .inputprof {
        margin-left: 0;
        width: 138%;
    }

    label {
        font-size: 17px;
    }
}



@media (max-width: 580px) {
    .wrapperprof {
        padding: 0;
    }

    .profile {
        font-size: 0.9rem;
    }

        .profile h2 {
            font-size: 1.3rem;
        }
}

