
.wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 27%, rgba(0,0,0,0) 49%, rgba(0,0,0,0.16150210084033612) 61%, rgba(0,0,0,0.9122023809523809) 95%, rgba(0,0,0,1) 100%), url(/Images/bgdb.JPG) no-repeat center center fixed;
    background-size: cover;
    max-width: 100%;
    position: relative;
    padding-top: 80px; /* Добавьте отступ, соответствующий высоте header */
    overflow-x: hidden;
}

h4 {
    display: flex;
}

.del {
    width: 50px;
    height: 50px;
    float: right;
    position: relative;
    top: -145px;
    margin-right: 15px;
    padding-bottom: 50px;
    padding-top: 0;
    margin-bottom: 0;
    transition: all 200ms ease;
}


.del:hover {
    opacity: 0.8;
    transform: scale(1.1);
}


.del:active {
    transform: scale(0.9);
}


.ob {
    max-width: 70%;
    display: flex;
    margin-top: 0;
    margin-left: 50px;
    gap: 70px;
}


.inf {
    margin-top: 25px;
    min-width: 115%;
    text-align: justify;
}


.about {
    margin-right: 230px;
    display:block;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 10px;
    padding: 15px 20px 40px 20px;
}

.needGap{
    margin-bottom: 0;
    margin-right: 15px;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price {
    float: right;
}

h2 {
    margin-left: auto; /* Center alignment */
    margin-right: auto; /* Center alignment */
    text-align: center; /* Center text */
    margin-bottom: 0;
    padding-top: 25px;
}


.about div {
    display: flex;
    gap: 15px;
    margin: 0;
}


.descr {
    margin-right: 230px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-size: 24px;
    color: white;
}


.kvadrats {
    max-width: 90%;
    min-height: 800px;
    border-radius: 30px;
    transition: all 200ms ease;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 0 auto; /* Center the kvadrat */
    text-align: center; /* Center text inside kvadrat */
    margin-top: 50px;
    /* padding-top: 25px; */
    flex-direction: column;
}


.photo {
    margin-right: 0;
    width: 350px;
    height: 350px;
    margin-left: 0;
    position: relative;
    right: 500px;
    top: -10px;
    transition: all 200ms ease;
}


.im {
    background: #ffffff24;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 1px 10px 0 rgba(253, 253, 253, 0.125);
    -moz-border-radius: 350px;
    -webkit-border-radius: 350px;
    border-radius: 350px;
    height: 350px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}


.kvadrats h2 {
    font-size: 60px;
    font-family: Niconne;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}




.btn {
    min-width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 15px 20px;
    font-weight: 600;
    color: #fff;
    font-size: 32px;
    margin-top: 100px;
    transition: all 200ms ease;
}

.btnDel {
    min-width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 15px 20px;
    font-weight: 600;
    color: rgb(72, 6, 7);
    font-size: 32px;
    margin-top: 100px;
    transition: all 200ms ease;
}


.btn:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.359);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.126), rgba(255, 255, 255, 0));
}


.btnDel:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.359);
    box-shadow: 0 8px 32px 0 rgb(176, 0, 0);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.126), rgba(255, 255, 255, 0));
}


.btn:active {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.359);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.126), rgba(255, 255, 255, 0));
}

.btnDel:active {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.359);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.126), rgba(255, 255, 255, 0));
}


@media screen and (max-width: 1500px) {
    .hero .kvadrats .descr {
        font-size: 20px;
    }
    .hero .kvadrats {
        max-width: 80%;
    }

    .inf .about h4 {
        font-size: 18px;
    }

    .ob {
        gap: 50px;
    }

    .hero .btn {
        margin-top: 70px;
    }
}

@media screen and (max-width: 1380px) {
    .hero .kvadrats .descr {
        width: 60%;
    }

    .hero .about {
        width: 60%;
    }
}

@media screen and (max-width: 1100px) {
    .im {
        width: 300px;
        height: 300px;
    }

    .ob .im .photo {
        width: 300px;
        top:-50px;
    }

    .inf .about h4 {
        font-size: 18px;
    }


    .hero .btn {
        margin-top: 70px;
    }
}

@media screen and (max-width: 950px) {

    .ob {
        flex-direction: column;
        padding-inline: auto;
        gap: 0;
        margin-left: 0;
    }


    .hero .im {
        margin-left: auto;
        margin-bottom: 25px;
    }

    .hero .kvadrats .descr {
        width: 100%;
        margin-left: 12%;
    }

    .hero .about {
        width: 100%;
        margin-left: 12%;
    }

    .hero .btn {
        font-size: 28px;
        margin-top: 70px;
    }
    .kvadrats h2 {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 768px) {
    header nav {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin: 0;
    }

    header nav ul li {
        width: 60px;
    }

    .kvadrats h2 {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 720px) {
    header nav ul {
        margin-left: 0;
        gap: 20px;
    }

    .kvadrats h2 {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 580px) {
    .kvadrats {
        min-width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .kvadrats h2{
        margin-bottom: 25px;
    }

    .hero .im {
        margin-left: 30%;
    }

    .hero .kvadrats .descr {
        margin-left: 12%;
    }

    .hero .about {
        margin-left: 12%;
    }

    .hero .btn {
        font-size: 24px;
        margin-top: 70px;
    }


}